.stage {
  box-shadow:0 0 10px #999;
  width:50%;
  max-width:1000px;
  background:white;
  overflow:hidden;
  border-radius:3px;
  margin:0 auto;
  display:table;
}

.search-bar {
  box-shadow:0 0 10px #999;
  width:50%;
  max-width:1000px;
  background:white;
  margin:0 auto 50px;;
}

.search-bar input {
  border:0;
  width:100%;
  padding:20px;
  font-size:1.5rem;
  margin:0;
}

.search-bar input:focus,
.search-bar:hover input {
  outline:2px solid orange;
}

.stage .record {
  display:table-row;
}

.stage .record + .record > * {
  border-top:5px solid #DFD3B6;
}

.stage .index {
  width:150px;
  height:150px;
  font-size:100px;
  line-height:150px;
  text-align:center;
  color:white;
  display:table-cell;
}

.stage .data {
  padding:10px;
  display:table-cell;
  text-align:left;
  vertical-align: top;
}

.color-0 { background:maroon; }
.color-1 { background:brown; }
.color-2 { background:purple; }
.color-3 { background:teal; }
.color-4 { background:green; }
